.main {
    width: 100%;
    flex: 1;
}

.main-inner {
    width: 100%;
    padding: 0 10px;
}

.main-tit {
    max-width: var(--ota-ku-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}



@media screen and (max-width: 1024px) {
    .main-tit {
        flex-direction: column-reverse;
    }
}
