.movie_2 {
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out, background-color 0.1s ease-in-out;
    border-bottom: 1px solid var(--cl-25);
    background-color: var(--cl-16);

    &:hover {
        background: rgba(255, 255, 255, 0.02);
    }

    .dot {
        padding: 0 5px;
    }
}

.movie_2:hover h3 {
    color: var(--content-movie-2-hover-h3-font-color);
}

.movie_2:hover .movie_2-image img {
    transform: scale(1.05);
}

.movie_2 .movie_2-image {
    width: 22%;
    border-radius: 10px;
    min-width: 100px;
    aspect-ratio: 1 / 1.45;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100%;
}

.movie_2 .movie_2-info {
    width: 100%;
}

.movie_2 .movie_2-image img {
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.movie_2 h3 {
    transition: color 0.2s ease-in-out;
    line-height: 100%;
}

.movie_2 .movie_2-info-about {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;
    color: var(--cl-11);
    font-size: 0.8em;
    line-height: 150%;
}

.movie_2 .movie_2-info-kind-genres-aired-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.movie_2 .movie_2-info-genres-list {
    display: flex;
    gap: 15px;
    a {
        font-size: 0.8em;
        text-decoration: underline;
    }
}

.movie_2 .movie_2-info-info-anime {
    display: flex;
    align-items: center;
    line-height: 140%;
}

.movie_2 .movie_2-info-info-anime i {
    color: var(--cl-19);
    margin-left: 5px;
}

@media screen and (max-width: 545px) {
    .movie_2 .movie_2-info-about {
        -webkit-line-clamp: 3;
    }
}

@media screen and (max-width: 425px) {
    .movie_2 {
        gap: 10px;
    }
}


