@font-face {
    font-family: "Montserrat-bold";
    src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-regular";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat-regular", sans-serif;

    &::after,
    &::before {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    ::selection {
        background: transparent;
    }

    :active {
        text-decoration: none !important;
        outline: none !important;
    }

    * {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -ms-touch-action: manipulation;
    }
}

body {
    overflow: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px, 1.5vw, 15px);
    background-color: var(--cl-3);
    color: var(--cl-2);
}

#app {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (max-width: 425px) {
    #app {
        gap: 5px !important;
    }
}

// eta headernerni
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-bold", sans-serif;
    line-height: 100%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;

}

h6 {
    font-family: "inter-regular", sans-serif;
    font-size: 0.7em;
    font-weight: normal;
    color: var(--cl-11);
}

span {
    color: var(--cl-11);
    font-size: 0.8em;
}

ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
b,
pre,
a,
ul,
ol,
li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
  color: var(--cl-12);
  border: 1px solid;
}

.pd-small {
  padding: 3px 8px;
}

.pd-normal {
  padding: 6px 14px;
}

.pd-large {
  padding: 8px 18px;
}

.dot {
    padding: 0 2px;
}
