::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--cl-21);
}

::-webkit-scrollbar-thumb {
    /*background: rgba(192, 40, 65, 0.3);*/
    background-color: var(--cl-7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-track-hover-color);
    cursor: pointer;
}
