// Body
$body-bg: #f8fafc;

// Typography
:root {
    --ota-ku-max-width: 1300px;
    --raco-transition-time: 0.2s;
    --raco-border-size: 2px;
    --raco-border-radius: 2px;

    --v-select-rounded-border-radius-size: 4px;
    --v-select-label-font-size: 0.9em;
}

