a {
  transition: color var(--raco-transition-time), background-color var(--raco-transition-time), border var(--raco-transition-time), border-color var(--raco-transition-time);
  color: var(--cl-2);
  box-sizing: border-box;
  border-radius: var(--raco-border-radius);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-align: left;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  outline: none;
  text-decoration: none;
}

a.raco-icon-left {
    flex-direction: row;
}

a.raco-icon-right {
    flex-direction: row-reverse;
}

a.raco-awsome-icon {
    i {
        font-size: 1.4em;
        color: inherit;
    }
}

a.raco-primary {
    color: var(--cl-2);
    border: 2px solid var(--cl-13)
}

a.raco-primary:hover {
    background-color: var(--cl-8);
    border-color: var(--cl-8);
}

a.raco-primary:active {
    background-color: var(--cl-9);
    border-color: var(--cl-9);
}

//raco secondary
a.raco-secondary {
  color: var(--cl-2);
}

a.raco-secondary:hover {
  color: var(--cl-8);
}

a.raco-secondary:active {
  color: var(--cl-9);
}

//raco tertiary
a.raco-tertiary {
    color: var(--raco-col-1);
    background-color: var(--raco-col-0);
}

a.raco-tertiary:hover {
    background-color: var(--raco-col-10);
    border-color: var(--raco-col-10);
}

a.raco-tertiary:active {
    background-color: var(--raco-col-0);
    color: var(--raco-col-6);
    border-color: var(--raco-col-0);
}