header {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
  position: fixed;
}

.header-search {
  display: none;
}

@media screen and (max-width: 630px) {
  .search {
      display: none !important;
  }
}